body {
  font-family: sans-serif;
  background-color: white;
}

#informacion {
  text-align: center;
}

#resumen{
  text-align:justify;
}

.margin{
  margin-right: 100px
}

.blue-font{color: white;}

.red{color: red;}

.green{color: rgba(0,255,0,.7);
font-weight: 500;
}

.font-xs{font-size: 8px}

.font-lg{font-size: 20px}

.top-border{
  border-top: 5px solid black;
  margin-left: 100px;
  margin-right: 100px;
}

.thin-top-border{
  border-style: double;
  border-bottom-color: black;
  margin-left: 100px;
  margin-right: 100px;
}

.bold{
  font-weight: bold;
}

.yellow-border{
  border: 30px solid #EFC050;
  margin-left: 100px;
  margin-right: 100px;

}
table td{border:0px solid black}

table td#raton{border:1px solid green}
